@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');
*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Quicksand',sans-serif;
}